@import "tailwindcss";
@theme {
    --color-backgroundPrimary: #F8D57E ;
    --color-backgroundSecondary: #F8F9FF;
    --color-lessBlack: #374151;
    --color-textButtonSecondary: #009379;
    --color-textButtonPrimary: #FFFFFF;
    --color-backgroundButtonSecondary: #E5F4F2;
    --color-backgroundButtonPrimary:#009379;
    --color-textTitle:#2D2D2D;
    --color-footerbackgroundIcon: #4E4D4D;
    --text-tiny: 16px; 
    --text-medium: 21px; 
    --text-big: 24px; 
    --text-extrabig: 38px; 
    --text-huge: 67px; 

}